.navbar {
    background: #000000;
    height: 80px;
    display: flex;
    justify-content: center;
    z-index: 999;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.navbar.scroll {
    transition: all 0.3s ease-in-out;
     background: white;

}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.nav-menu {
    display: flex;
    width: 60%;
    justify-content: space-around;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    height: 100%;
    width: 20%;
    transition: height 0.2s, border 0.25s;
}

.nav-menu li :active {
    background: #b48787;
}

.nav-menu a {
    width: 100%;
    justify-content: center;
    text-decoration: none;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
}

.menu-icon {
    display: none;
}

@media screen and (min-width: 961px) {
    .nav-menu li:hover {
        height: 95%;
        border-bottom: 5px solid white;
        border-radius: 0%;
    }
}

@media screen and (max-width: 960px) {
    .navbar-wrapper {
        padding-top: 80px;
    }
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        background: #000000;
    }
   
    .navbar-logo {
        z-index: 99;
    }
    .menu-icon {
        display: block;
        position: absolute;
        top: 25%;
        right: 0px;
        z-index: 99;
    }
    .menu-icon .MuiSvgIcon-root {
        font-size: 300%
    }
    .nav-menu {
        flex-direction: column;
        width: 100%;
        height: 50vh;
        position: absolute;
        transform: translateY(-100%);
        opacity: 0;
        background: #000000;
        transition: all .3s ease-in-out;
    }
    .nav-menu.active {
        opacity: 1;
        z-index: 1;
        transform: translateY(39%);
        background: #000000;
        transition: all .3s ease-in-out;
    }
    .nav-menu li {
        width: 100%;
    }
}